{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <title>
            {{ todo_list_object.name }}
        </title>
    </head>

    <body>

        <header>
            <nav>
                <a href="{% url 'todo_list_list' %}">Main page</a>
            </nav>
        </header>

        <main>
            <div>
                <h1> {{ todo_list_object.name }} </h1>
                <div>
                    <p><a href="{% url 'todo_list_update' todo_list_object.id %}">Edit</a></p>
                    <p><a href="{% url 'todo_list_delete' todo_list_object.id %}">Delete</a></p>
                </div>
                <h2>Tasks</h2>

                <table class="Todo_List-table">
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo_task in todo_list_object.items.all %}
                        <tr>
                            <td>{{ todo_task.task }}</td>
                            <td>{{ todo_task.due_date }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>

        
        <footer>
            <div class="footer-border"> 
                Made with love by Scrumptious Recipes
            </div>
        </footer>
    </body>
</html>