{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <title>
            {{ todo_list_object.name }}
        </title>
    </head>


    <body>

        <main>
            <div>
                <h1>Update list</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Update</button>
                </form>
        </div>
        </main>

        
    </body>
</html>