{% extends 'base.html' %}

{% block title %}
Scrumptious recipes
{% endblock title %}
{% block content %}
<header> 
    <nav>
        <a href="{% url 'todo_list_list' %}">Main page</a>
    </nav>
</header>


<main>
    <div>
        <h1>My lists</h1>
        <div>
            <p>
                <a href="{% url 'todo_list_create' %}">Create a new list</a>
                <a href="{% url 'todo_item_create' %}">Create a new item</a>
            </p>
        </div>

        <table class="Todo_List-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
            </thead>
            <tbody>
                {% for list in todo_list %}
                <tr>
                    <td>
                        <a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a>
                    </td>
                    <td>{{ list.items.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}

