{% load static %}

<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        {% block content %} {% endblock %}
        <footer>
            Made with love by Scrumptious Recipes
        </footer>
    </body>
</html>
 